{% load static %}

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>WTDO</title>
<script src=""></script>
<link rel="stylesheet" href="{% static 'main_framecss.css' %}">
</head>
<section>
<div class="first">
<div id="first_banner">

<div id="wtdo">WTDO</div>

<div id="help">HELP</div>

</div></div>
<div class="welcome">WE WELCOME YOU TO WTDO <BR><BR>
    <div id="signin"><a href="signin">SIGN IN</a></div>
    <div id="signup"><a href="signup">SIGN UP</a></div>

    </div>
</section>

</body>
</html>
